[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-asyncio = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
ipdb = "*"

[packages]
"-e ." = "*"

[requires]
python_version = "3.6"
